body {
    color: #444444;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

* {
    outline: 1px solid --blue;
}

/* css μ„Έν… */




.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    line-height: 120px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 120px;
    z-index: 1000;
}



.header .inner {
    justify-content: space-between;
} 


.header h1 {
    line-height: 110px;
    margin: 0 10px 0 10px;
}

.header ul {
    gap: 30px;
    text-align: center;
}

.header .gnb a {
    display: block;
    color: #303030;
    font-weight: 500;
}

.header .gnb>ul::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    background: #1b9c9e;
    z-index: 999;
    transition: 0.5s;
}

.header .gnb>ul:hover::before {
    height: 280px;
}

.header .gnb>ul>li {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    padding: 0 15px 0 15px;
}

.header .icon {
   border: none;
   background: none;
}




.header .gnb .s_menu {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 15px;
    font-weight: 400;
    line-height: 2.5;
    padding: 20px 0;
    z-index: 999;
    width: 120%;
    overflow: hidden;
    opacity: 0;
}

.header .gnb .s_menu a {
    color: #fff;
    font-weight: 300;
}

.header .gnb>ul:hover .s_menu {
    height: 310px;
    opacity: 1;
}


/* header */




.mainVisual .itm {
    position: relative;
    height: 800px;
}

.mainVisual .itm01 {
    background: url(../img/main_visual.png) no-repeat center center/cover;
    top: -50px;
}


.mainVisual h2 {
    position: absolute;
    top: 200px;
    left: 51%;
    transform: translate(-600px, 0);
    font-size: 50px;
    font-weight: 600;

    color: #003d48;
    line-height: 70px;
    z-index: 999;
}

.mainVisual p {
    position: absolute;
    top: 340px;
    left: 51%;
    transform: translate(-600px, 0);
    font-size: 20px;
    font-weight: 400;

    color: #003d48;
    line-height: 40px;
    z-index: 999;
}


.mainVisual .main_menu {
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.mainVisual .main_menu .container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.mainVisual .main_menu .container>div {
    flex:1;
    padding: 0 30px 0 0;
}

.mainVisual .main_menu .container>div>div {
    padding: 50px 50px 50px 50px;
    position:relative;
}

.mainVisual .main_menu .container>div>div h3 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #fff;
}


.mainVisual .main_menu .mainBtn {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
}

.mainVisual .main_menu .mainBtn>a {
    display:block;
    padding: 15px 35px 15px 35px;
    border: 1px solid #fff;
    color:#fff;
    text-align: center;
}

.mainVisual .main_menu .moreBtn {
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #fff;
    color:#fff;
}

.mainVisual .main_menu .moreBtn:hover {
    background: #fff;
    color: #555;
}



.mainVisual .main_menu .menu01>div {
    background:#1b9c9e;
}

.mainVisual .main_menu .menu01 .mainBtn>a:hover {
    background:#fff;
    color:#1b9c9e;
}


.mainVisual .main_menu .menu02>div {
    background:#15927d;
}

.mainVisual .main_menu .menu02 .mainBtn>a:hover {
    background:#fff;
    color:#15927d;
}

.mainVisual .main_menu .menu03>div {
    background:#1b9c9e;
}

.mainVisual .main_menu .menu03 .mainBtn>a:hover {
    background:#fff;
    color:#1b9c9e;
}








/* mainVisual */


.sec01 {
    padding: 100px 0;
    color: #000000;
    text-align: center;
}

.sec01 h2 {
    font-size: 36px;
    font-weight: 500;
    margin: 50px 0 20px 0;
}

.sec01 p {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 50px 0;
}


.sec01 h2:before {
    content:"";
    display:inline-block;
    width: 100px;
    height: 1px;
    background:#ddd;
    vertical-align: middle;
    margin: -8px 20px 0 20px;
}

.sec01 h2:after {
    content:"";
    display:inline-block;
    width: 100px;
    height: 1px;
    background: #ddd;
    vertical-align: middle;
    margin: -8px 20px 0 20px;
}

.sec01 .container {
    width: 1200px;
    margin: 0 auto;
}

.sec01 .event_slider .itm figure {
    position: relative;
}

.sec01 .event_slider .m01 img {
    position: relative;
    right: 12%;
    height: 500px;
    width: 900px;
    box-shadow: 0 3px 10px -4px #000;
}

.sec01 .event_slider .m02 img {
    position: absolute;
    bottom: -80px;
    left: 90px;
    height: 550px;
    width: 1080px;
    overflow: hidden;
    box-shadow: 0 3px 10px -4px #000;
}

/*
.sec01 .event_slider .itm figure img {
    width: 100%;
    transform:scale(1.1);
    transition: 1s;
}

.sec01 .event_slider .itm:hover img {
    transform:scale(1.0);
} */





.sec01 .event_slider .itm figcaption {
    position: absolute;
    display: inline-block;
    width: 400px;
    height: 1200px;
    border: 1px solid #ddd;
    padding: 100px 0 100px 0;
    top: -40px;
    left: 320px;
    background: #fff;
    padding: 30px 0 30px 0;
    height: 150px;

    transition: 0.5s;
    position: relative;
}

/*
.sec01 .event_slider .itm:hover figcaption {
    border-top: 5px solid #15927d;
} */

.sec01 .event_slider .itm figcaption span {
    font-size: 15px;
    color:#444444;
    position:absolute;
    top: 10px;
    transform:translateX(-50%);
    margin: 10px 0;
}

.sec01 .event_slider .itm figcaption h3 {
    font-size: 28px;
    font-weight: 500;
    margin: 20px 0 0 0;
}

.sec01 .event_slider .itm figcaption p {
    font-size: 16px;
    color:#444444;
    line-height: 20px;
    margin: 10px 0 0 0;
}









.sec02 {
    padding: 100px 0;
    color: #000000;
    text-align: center;
}

.sec02 h2 {
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.sec02 p {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 50px 0;
}


.sec02 h2:before {
    content:"";
    display:inline-block;
    width: 100px;
    height: 1px;
    background:#ddd;
    vertical-align: middle;
    margin: -8px 20px 0 20px;
}

.sec02 h2:after {
    content:"";
    display:inline-block;
    width: 100px;
    height: 1px;
    background: #ddd;
    vertical-align: middle;
    margin: -8px 20px 0 20px;
}

.sec02 .container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}



/* footer */



